@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

body {
   font-family: "Be Vietnam Pro", sans-serif;
}

@theme {
  --font-display: "Be Vietnam Pro", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-midnight-blue: #0c2647;
  --color-dark-orange: #fe7f32;
  --color-cornflower-blue: #5193e6;
  --color-white-smoke: #f4efea;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer utilities {
  .container {
    @apply px-4 md:px-6 max-w-[75rem] mx-auto;
  }
}