---
const navItems = [
	{ name: "Inicio", href: "/" },
	{ name: "Nosotros", href: "/nosotros" },
]
---

<nav
	class="text-white fixed top-0 z-50 w-full transition-colors duration-300"
	x-data="{ open: false, scrolled: false }"
	x-init="
    scrolled = window.scrollY > 10;
    window.addEventListener('scroll', () => {
      scrolled = window.scrollY > 10;
    });
    "
	:class="scrolled || open ? 'bg-midnight-blue' : 'bg-transparent'"
>
	<div class="container py-3">
		<div class="flex justify-between items-center">
			<div class="flex items-center">
				<a href="/" class="text-2xl font-bold">
					<span class="text-dark-orange">Eiich</span> Inmobiliaria
				</a>
			</div>

			<!-- Botón menú móvil -->
			<div class="lg:hidden">
				<button @click="open = !open" class="text-white focus:outline-none">
					<i :class="open ? 'fas fa-times text-2xl' : 'fas fa-bars text-2xl'"></i>
				</button>
			</div>

			<!-- Menú escritorio -->
			<div class="hidden lg:flex items-center text-sm space-x-8">
				{
					navItems.map((item) => (
						<a href={item.href} class="hover:text-dark-orange transition">
							{item.name}
						</a>
					))
				}
				<a
					href="/vender-tu-propiedad"
					class="bg-transparent border border-white px-6 py-2.5 rounded hover:bg-white hover:text-midnight-blue transition"
				>
					Vende tu propiedad
				</a>
			</div>
		</div>
		<!-- Menú móvil -->
		<div x-show="open" x-transition x-cloak class="lg:hidden mt-4 pb-4">
			{
				navItems.map((item) => (
					<a href={item.href} class="block py-2 hover:text-dark-orange transition">
						{item.name}
					</a>
				))
			}
			<a
				href="/vender-tu-propiedad"
				class="block bg-dark-orange px-4 py-2 rounded hover:bg-white hover:text-midnight-blue transition w-max mt-2"
			>
				Vende tu propiedad
			</a>
		</div>
	</div>
</nav>

<style>
	[x-cloak] {
		display: none !important;
	}
</style>
