<section class="py-16 bg-[#f4efea]">
	<div class="container mx-auto px-4">
		<div class="text-center mb-12">
			<h2 class="text-3xl md:text-4xl font-bold uppercase mb-4">
				Galería de <span class="text-[#fe7f32]">Inspiración</span>
			</h2>
			<p class="text-gray-600 max-w-2xl mx-auto">
				Inspírate con esta galería de ideas de interiores, exteriores y estilos de vida que podrían reflejar tus
				preferencias.
			</p>
		</div>

		<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
			<div class="grid gap-4">
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-1.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-2.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-3.webp" alt="" />
				</div>
			</div>
			<div class="grid gap-4">
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-4.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-5.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-6.webp" alt="" />
				</div>
			</div>
			<div class="grid gap-4">
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-7.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-8.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-9.webp" alt="" />
				</div>
			</div>
			<div class="grid gap-4">
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-10.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-11.webp" alt="" />
				</div>
				<div>
					<img class="h-auto max-w-full rounded-lg" src="/images/gallery/gallery-12.webp" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>
