<div class="container -translate-y-1/2  -mb-32 md:mb-0">
	<div
		class="bg-midnight-blue/80 backdrop-blur-md grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-4x mx-auto borde border-white rounded-xl px-10 py-6"
	>
		<div class="highlight-card flex gap-4 items-center h-fit text-white rounded-xl">
			<div
				class="w-14 h-14 aspect-square bg-cornflower-blue rounded-full flex items-center justify-center text-white"
			>
				<i class="fas fa-key text-2xl"></i>
			</div>
			<div>
				<h3 class="font-bold leading-tight mb-2">Encuentra lo que buscas</h3>
				<p class="opacity-80 text-sm">Encuentra el inmueble que encaje contigo.</p>
			</div>
		</div>

		<div class="highlight-card flex gap-4 items-center h-fit text-white rounded-xl md:hidden lg:flex">
			<div
				class="w-14 h-14 aspect-square bg-cornflower-blue rounded-full flex items-center justify-center text-white"
			>
				<i class="fas fa-map-marked-alt text-2xl"></i>
			</div>
			<div>
				<h3 class="font-bold leading-tight mb-2">Ubicaciones diversas</h3>
				<p class="opacity-80 text-sm">Propiedades en distintas zonas de la ciudad.</p>
			</div>
		</div>

		<div class="highlight-card flex gap-4 items-center h-fit text-white rounded-xl">
			<div
				class="w-14 h-14 aspect-square bg-cornflower-blue rounded-full flex items-center justify-center text-white"
			>
				<i class="fas fa-medal text-2xl"></i>
			</div>
			<div>
				<h3 class="font-bold leading-tight mb-2">Asesoría personalizada</h3>
				<p class="opacity-80 text-sm">Te guiamos en cada paso, sin complicaciones.</p>
			</div>
		</div>
	</div>
</div>
