<section class="py-16 bg-white-smoke">
	<div class="container mx-auto px-4">
		<div class="flex flex-col lg:flex-row items-center">
			<!-- Texto -->
			<div class="lg:w-1/2 mb-10 lg:mb-0 lg:pr-12">
				<h2 class="text-3xl md:text-4xl font-bold uppercase mb-6">
					Expertos en <span class="text-dark-orange">bienes raíces</span> a tu servicio
				</h2>
				<p class="text-l text-gray-600 mb-6">
					Contamos con un amplio catálogo de propiedades cuidadosamente seleccionadas para cada tipo de
					cliente.
				</p>

				<p class="text-l text-gray-600 mb-10">
					Nuestro equipo de asesores te acompañará en cada paso del proceso, desde la búsqueda hasta la firma
					final, asegurando una experiencia sin complicaciones.
				</p>

				<div class="space-y-4">
					<!-- Item -->
					<div class="flex items-start">
						<div
							class="bg-cornflower-blue flex justify-center items-center h-10 aspect-square text-white p-2 rounded-full mr-4 shadow-md"
						>
							<i class="fas fa-check"></i>
						</div>
						<div>
							<h4 class="font-bold">Asesoramiento profesional</h4>
							<p class="text-gray-600">Te guiamos en cada paso del proceso de compra o venta.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Galería -->
			<div class="lg:w-1/2">
				<div class="flex flex-col gap-6">
					<div class="flex gap-6">
						<div
							class="gallery-item relative h-32 w-32 aspect-square self-end ml-10 transition duration-300 hover:scale-105"
						>
							<img
								src="/src/assets/images/info1.png"
								alt="Interior moderno"
								class="w-full h-full object-cover rounded"
							/>
						</div>
						<div
							class="gallery-item relative h-56 w-full transition duration-300 hover:scale-105 hover:shadow-xl"
						>
							<img
								src="/src/assets/images/info2.jpg"
								alt="Cocina de lujo"
								class="w-full h-full object-cover rounded shadow-md"
							/>
						</div>
					</div>

					<div class="flex gap-6">
						<div
							class="gallery-item relative h-44 aspect-video transition duration-300 hover:scale-105 hover:shadow-xl"
						>
							<img
								src="/src/assets/images/info3.jpg"
								alt="Interior moderno"
								class="w-full h-full object-cover rounded shadow-md"
							/>
						</div>
						<div
							class="gallery-item relative h-64 w-44 transition duration-300 hover:scale-105 hover:shadow-xl"
						>
							<img
								src="/src/assets/images/5384.jpg"
								alt="Cocina de lujo"
								class="w-full h-full object-cover rounded"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
