---
import { getWhatsappLink } from "src/utils/whatsapp"
---

<section class="parallax py-24 bg-[url('/images/banner.webp')] bg-cover bg-center relative">
	<div class="absolute inset-0 bg-midnight-blue/70 backdrop-blur-xs"></div>
	<div class="container relative z-10 text-center text-white">
		<h2 class="text-3xl md:text-5xl font-medium leading-tight lg:mx-16 mb-6">
			¿Estás buscando el inmueble ideal para <span class="text-dark-orange font-black">vivir o invertir</span>?
		</h2>
		<p class="text-lg mb-8 max-w-2xl mx-auto">
			Nuestros agentes están listos para ayudarte en cada paso del camino.
		</p>
		<a
			href={getWhatsappLink()}
			target="_blank"
			rel="noopener noreferrer"
			class="inline-block bg-[#fe7f32] hover:bg-[#e6732b] text-white px-8 py-4 rounded font-bold transition"
			>Contactar un asesor</a
		>
	</div>
</section>

<style>
	.parallax {
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (max-width: 768px) {
		.parallax {
			background-attachment: scroll;
		}
	}
</style>
